@import url('table.css');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 17px/1.5 'PT serif', serif;
}

.wrapper {
    display: flex;
    box-shadow: 1px 1px 38px 0px rgba(0, 0, 0, 0.75);
    max-width: 900px;
    margin: 2rem auto;
}

h1 {
    text-align: center;
    font: bold;
    border-bottom: 2px dotted green;
}

.head {
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.list {
    margin: 2rem 0 2rem 0;
}

.list>p>span {
    color: green;
    font-weight: 900;
}

.instruction {
    margin-bottom: 2.5rem;
}

.recipe {
    background: url('https://images.unsplash.com/photo-1547104442-044448b73426?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    padding: 2.5rem;
    flex: 0 0 50%;
}

.image {
    display: block;
    position: relative;
    overflow: hidden;
    flex: 0 0 50%;
}

img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    position: absolute;
}

img::after {
    padding-top: 100%;
    content: '';
    display: block;
}